<ion-modal-view>
  <ion-header-bar class="capilleira-bar-header">
    <h1 class="title">Ingresá</h1>
    <div class="buttons">
      <button class="button button-clear button-dark left" ng-click="closeModal()"><i class="ion-close-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="login">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="user.pwdForLogin">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="signIn(user)">
            Entrar
          </button>
        </label>
        <label class="item item-text-wrap text-center" ng-if="signInErrorShow">
          <i class="icon ion-alert-circled assertive"></i>
          <span>{{signInErrorMsg}}</span>
        </label>
      </div>
    </form>

    <p class="text-center">
      <a href="#/forgot-password">Olvidé mi contraseña</a>
    </p>
  </ion-content>
</ion-modal-view>

