<ion-view view-title="Programación" class="tab-about">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-clear" ng-click="openModal()">
      Login
    </button>
  </ion-nav-buttons>
  <ion-content has-header="true">
    <ul class="list">
      <li class="item item-text-wrap">
        <h2 class="text-center">PROGRAMACIÓN</h2>
      </li>
      <li class="item item-text-wrap">
        <p>Nuestra programación comprende períodos mensuales, música, artistas, mixes, dj sets, electrónica, indie, hip nop, deep house, techno, tech house, trance, house, gangster house, minimal, jazz, clubs, costa rica, honduras, panama, nicaragua, el salvador, guatemala, discoteca, descargas, entrevistas, radio online, revista, streaming, broadcast music, electronic music</p>
      </li>

      <li class="item item-text-wrap">
        <h2 class="text-center">SOBRE NOSOTROS</h2>
      </li>
      <li class="item item-text-wrap">
        <p class="title text-center">Urbanet Radio</p>
        <hr>
        <p>La radio de los Dj´s de Latino América. Selección y actualidad en las noticias y artistas referentes a la música electrónica en el mundo, ahora en español para América Latina y desde Costa Rica. Música streaming 24/7 todos los días de la semana. Transmisiónes en vivo desde diferentes Clubs, Bares y Festivales del país. Urbanet Radio nace en 1995 como un medio online y alternativo para la difusión y el seguimiento de la música, los artistas y los eventos electrónicos más importantes de la región centroaméricana.</p>
      </li>

      <li class="item item-text-wrap">
        <h2 class="text-center">CONTENIDO, MÚSICA Y PRINCIPALES GÉNEROS</h2>
      </li>
      <li class="item item-text-wrap">
        <p>Radio de Música Electrónica Online 24/7, Artistas, Dj Sets, Descarga Música, Noticias, Clubs, Eventos, Entradas Gratis, Djs de Latinoamérica. Disfruta de nuestra selección de música Breaks, Drum & Bass, Electro House, House, Deep House, Down Tempo, Chillout, Techno, Tech House, Progressive, Trance, EDM, Minimal, Dubstep, Electronica, Funk, R&B, Glitch Pop, Hard Dance, Big Room House, Hardcore, Hard Techno, Indie, Nu Disco, Pop, Rock, Psy Trance, Reggae, Dub, Trap, Hip Nop y más en tu dance radio.</p>
      </li>

      <li class="item item-text-wrap">
        <h2 class="text-center">CLUBS, DISCOTECAS, BARES, RESTAURANTES DE COSTA RICA</h2>
      </li>
      <li class="item item-text-wrap">
        <p>Club Vertigo - Club Venue - Hoxton Pub - London Room - El Steinvorth - Lubnan - Santos Escazú - 8ctavo Rooftop - Hard Rock Café Costa Rica - Rapsodia Lounge - El Techo - Aura Club & Dancefloor - Rouge - Saquella - C Lounge - Bar El Morazán - Babel Lounge - 1/4 Lounge - 9North - Praha Lounge & Cafe - El Gaff - Antik Bar Restaurant - Home Finest Lounge - Stereo Luv - The Basement - Space Jacó - Le Loft - Jaco Blue - Liquid Lounge - Bar EL Garito - Beach Club Tamarindo.</p>
      </li>

      <li class="item item-text-wrap">
        <h2 class="text-center">PAÍSES TOP ELECTRÓNICOS DE CENTROAMÉRICA.</h2>
      </li>
      <li class="item item-text-wrap">
        <ul>
          <li><p>1. Panamá - (La Buat - Teatro Amador)</p></li>
          <li><p>2. Guatemala - (El Cine)</p></li>
          <li><p>3. Costa Rica - (Club Vertigo - Club Venue)</p></li>
          <li><p>4. Honduras</p></li>
          <li><p>5. El Salvador</p></li>
        </ul>
      </li>

    </ul>
  </ion-content>
</ion-view>
