<ion-view view-title="Sign-In" class="tab-singin">
  <ion-content>
    <form name="sign-up">
      <div class="list">
        <div class="item item-divider text-center">
          Crea tu cuenta
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Nombre completo" ng-model="user.name" required="required">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="E-mail" ng-model="user.email" required="required">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Contraseña" ng-model="user.password" required="required">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Confirmar Contraseña" ng-model="user.confirm" required="required">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="createUser(user)">
          Sign-In
          </button>
        </label>
        <label class="item item-text-wrap" ng-if="signUpErrorShow">
          <i class="icon ion-alert-circled assertive"></i>
          <span class="assertive">{{signUpErrorMsg}}</span>

        </label>
      </div>



    </form>
  </ion-content>
</ion-view>
