<ion-view view-title="Noticias" class="tab-news">
  <ion-content has-header="true">
    <ion-refresher
      on-refresh="doRefresh()"
      refreshing-icon="fa fa-cog fa-spin">
    </ion-refresher>
    <div class="item item-image polygon">
      <img src="/img/ur.jpg">
    </div>
    <div class="list no-margin" ng-repeat="post in posts">
      <a class="item item-text-wrap top-border-non"
         ng-href="#/tabs/news/{{post.ID}}">
        <h2><i class="fa fa-paperclip"></i> <span ng-bind-html="post.title"></span></h2>
        <h2 ng-bind-html="post.excerpt"></h2>
        <p><i class="fa fa-calendar-o"></i> {{:: post.date | date}}</p>
      </a>
    </div>
<!--     <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%"
            ng-if="!noMoreItemsAvailable"
            immediate-check="false">
     </ion-infinite-scroll> -->
  </ion-content>
</ion-view>
