<ion-modal-view class="login-modal">
  <ion-header-bar class="capilleira-bar-header">
    <h1 class="title tab-singup">Crear Cuenta</h1>
    <div class="buttons">
      <button class="button button-clear button-dark left" ng-click="closeModal(2)"><i class="ion-close-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="sign-up">
      <div class="list">
        <div class="item item-divider text-center">
          Crea tu cuenta
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Nombre completo" ng-model="user.name" required="required">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="E-mail" ng-model="user.email" required="required">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Contraseña" ng-model="user.password" required="required">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Confirmar Contraseña" ng-model="user.confirm" required="required">
        </label>
        <label class="item">
          <button class="button button-block signup-button" ng-click="createUser(user)">
          Crear Cuenta
          </button>
        </label>
        <label class="item item-text-wrap text-center" ng-if="signUpErrorShow">
          <i class="icon ion-alert-circled assertive"></i>
          <span>{{signUpErrorMsg}}</span>

        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
