<ion-view view-title="Administrar cuenta" class="tab-singup">
  <ion-content>
    <div class="list" ng-hide="showSignButtons">
      <div class="item text-center">
        <button class="button button-block button-energized" ng-click="openModal(1)">
          Ingresar
        </button>
      </div>
      <div class="item text-center">
        <button class="button button-block button-energized" ng-click="openModal(2)">
          Crear cuenta
        </button>
      </div>
    </div>
    <button class="button button-block button-assertive" ng-click="logOut()">
      Cerrar Sesion
    </button>
  </ion-content>
</ion-view>
