<ion-view view-title="Administrar cuenta" class="tab-singup">
  <ion-content>
    <div class="list" ng-hide="authData.token">
      <div class="item text-center">
        <button class="button button-block signup-button" ng-click="openModal(1)">
          Ingresar
        </button>
      </div>
      <div class="item text-center">
        <button class="button button-block signup-button" ng-click="openModal(2)">
          Crear cuenta
        </button>
      </div>
    </div>
    <div class="list">
      <div class="item">
        Nomre: <span class="text-center">{{::userDisplayInfo.name}}</span>
      </div>
      <div class="item">
        E-mail: {{::userDisplayInfo.email}}
      </div>
      <div class="item">
      <button class="button button-block button-assertive" ng-click="logOut()">
        Cerrar Sesión
      </button>
      </div>
    </div>
  </ion-content>
</ion-view>
