<ion-view view-title="Administrar cuenta" class="tab-singup">
  <ion-content>
    <div class="list">
      <div class="item text-center">
        <button class="button button-block button-energized" ng-click="openModal(signIn)">
          Ingresar
        </button>
      </div>
      <div class="item text-center">
        <button class="button button-block button-energized" ng-click="openModal(signUp)">
          Crear cuenta
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
