<ion-tabs class="tabs-striped tabs-icon-top tabs-background-stable tabs-color-dark"
          ng-controller="LoginCtrl">

  <!-- News Tab -->
  <ion-tab title="Noticias" icon-off="fa fa-newspaper-o" icon-on="fa fa-newspaper-o" href="#/tabs/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Promociones" icon-off="fa fa-tags" icon-on="fa fa-tags" href="#/tabs/promotions">
    <ion-nav-view name="tab-promotions"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Crea tu cuenta" icon-off="fa fa-user-plus" icon-on="fa fa-user-plus" href="#/tabs/admin-accnt">
    <ion-nav-view name="admin-accnt"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Programación" icon-off="fa fa-diamond" icon-on="fa fa-diamond" href="#/tabs/about-us">
    <ion-nav-view name="about-us"></ion-nav-view>
  </ion-tab>

</ion-tabs>
