<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- // <script src="lib/ngCordova/dist/ng-cordova.min.js"></script> -->
    <script src="cordova.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>

    <!-- your app's js -->
    <script src="js/directives/StreamingDirective.js"></script>
    <script src="js/controllers/LoginCtrl.js"></script>
    <script src="js/controllers/NewsCtrl.js"></script>
    <script src="js/controllers/PromoCtrl.js"></script>
    <script src="js/controllers/AboutUsCtrl.js"></script>
    <script src="js/controllers/PromoDetailCtrl.js"></script>
    <script src="js/services/AuthFactory.js"></script>
    <script src="js/services/NewsFactory.js"></script>
    <script src="js/services/PromoFactory.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="urbanet.app" class="urbanet-base">
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-header-bar class="bar bar-subheader index-subheader">
      <audio-play>
        <audio class="player">
          <source src="http://fire.wavestreamer.com:9711/UrbanetRadio"/>
        </audio>
        <button class="button button-clear button-light"
                ng-click="playMusic()"
                ng-hide="!playOrPause">
          <i class="fa fa-play fa-lg"></i>
        </button>
        <button class="button button-clear button-light"
                ng-click="stopMusic()"
                ng-show="!playOrPause">
          <i class="fa fa-pause fa-lg"></i>
        </button>
<!--         <input type="range" ng-change="changeVolume($event)"
               ng-model="volume" step="0.1" min="0" max="1"> -->
      </audio-play>
      <span class="title">
        <p>Urbanet Radio Streaming</p>
      </span>
    </ion-header-bar>
    <ion-nav-view></ion-nav-view>
  </body>
</html>
