/* Empty. Add your own CSS if you like */
.urbanet-base {

  .centered {
    text-align: center;
  }

  .dark-bg {
    background: get-color(plata-dark);
    color: get-color(nieve);
  }

  .edges {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .spinner-android svg {
    width: 60px;
    height: 60px;
  }

  textarea {
    resize: none;
  }

  .signup-button {
    background: get-color(golden-poppy);
    border-color: get-color(night);
    color: get-color(night);
  }

  .index-subheader {
    background: get-color(night);
    color: get-color(golden-poppy);
    display: inline-flex;
    line-height: 2;

    .audio-title {
      margin-left: 30px;
    }
  }

}
