.tab-news {

  .special-font p,
  .special-font ul li,
  .special-font h4 {
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
  }
}
